.icons {
  size: 200px;
}
.contactIcon,
.paddingText,
.paddingTextTel {
  padding-top: 40px;
}

.satisfactionText {
  padding: 15px 15px 15px 25px;
  margin-top: 26px;
}

.map {
  text-align: center;
  padding-bottom: 25px;
}

.marginText {
  margin-top: 20px;
}

.btnMsn {
  height: 60px;
  margin-top: 11px;
}
.contactUs {
  margin: 24px 40px 46px 50px;
}
.divSpan {
  text-align: center;
  margin: 20px 144px 20px 20px;
}
.icons {
  margin-top: 20px;
}
@media (min-width: 350px) and (max-width: 575px) {
  .icons_2,
  .sepText {
    margin-top: 20px;
  }
  .btnAlig {
    text-align: center;
  }
}
